/*------------General--------------------*/


h1, h2, h3, h4, h5, h6 {
    font-family: "League Spartan", "Open Sans", sans-serif;   
}

p, a {
    font-family: "Rubik", "Nunito", "Open Sans", sans-serif;
}




/*------------Home Page--------------------*/

    /*---Main Menu & Footer---*/
    #mainMenu{
        border-bottom: solid 1px rgb(228, 228, 228);
    }

    #Footer{
        border-top: solid 1px rgb(228, 228, 228);
        margin-top: 20px;
    }

    #mainMenu > nav > div, #Footer > nav > div{
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #89c592;
    }

    .container-fluid{
        margin-top: 50px;
        margin-bottom: 100px;
    }


    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0 !important;
    }

    .navbar-brand{
        display: flex;
        align-items: flex-end;
    }

    #mainMenu > nav > div > a > h1{
        padding-left: 10px;
        color: rgb(37, 37, 37);
        font-weight: 700;
    }

    #Footer > nav > div > a > h3{
        padding-left: 10px;
        color: rgb(37, 37, 37);
        font-weight: 700;
    }

    .nav-item{
        font-size: 20px;
    }

    .nav-link{
        color: #000 !important;
    }

    #mainMenu > nav > div > ul > li:nth-child(1) > a.active, #mainMenu > nav > div > ul > li:nth-child(1) > a, #mainMenu > nav > div > ul > li:nth-child(2) > a.active, #mainMenu > nav > div > ul > li:nth-child(2) > a, #mainMenu > nav > div > ul > li:nth-child(3) > a.active, #mainMenu > nav > div > ul > li:nth-child(3) > a{
        background-color: #fff;
        border-radius: 15px;
        margin: 5px;
    }

    #mainMenu > nav > div > ul > li:nth-child(1) > a:hover, #mainMenu > nav > div > ul > li:nth-child(2) > a:hover, #mainMenu > nav > div > ul > li:nth-child(3) > a:hover{
        background-color: #fff;
    }
    /*------------------*/


    /*---Hike Steps Boxes & Title---*/
    
    #titleStepsBoxes{
        margin-top: 150px;
    }

    .col.titleStepsBoxes > h1{
        font-weight: 700;
        text-align: center;
    }

    .hr-lines1:before {
        content: " ";
        display: block;
        height: 2px;
        width: 900px;
        position: absolute;
        top: 50%;
        background: #89c592;
        right: 550px;
    }

      .hr-lines1{
        position: relative;
        /*  new lines  */
        max-width: 500px;
        margin: 100px auto;
        text-align: center;
      }

      .hr-lines1{
        position: relative;
      }

      .hr-lines1:after {
        content: " ";
        height: 2px;
        width: 900px;
        background: #89c592;
        display: block;
        position: absolute;
        top: 50%;
        left: 550px;
    }


    .col.Stepsbox1, .col.Stepsbox2, .col.Stepsbox3{
        background-color: #deeaf6;
        border-radius: 20px;
        height: 500px;
        margin:10px;
    }
    
    .col.Stepsbox1 > img, .col.Stepsbox2 > img , .col.Stepsbox3 > img {
        margin: 50px 10px 50px 10px;
        
    }


    /*---Cities Boxes & Title---*/

    .hr-lines2:before {
        content: " ";
        display: block;
        height: 2px;
        width: 900px;
        position: absolute;
        top: 50%;
        background: #2d938d;
        right: 550px;
    }

      .hr-lines2{
        position: relative;
        /*  new lines  */
        max-width: 500px;
        margin: 100px auto;
        text-align: center;
      }

      .hr-lines2{
        position: relative;
      }

      .hr-lines2:after {
        content: " ";
        height: 2px;
        width: 900px;
        background: #2d938d;
        display: block;
        position: absolute;
        top: 50%;
        left: 550px;
    }

    #titleCityBoxes{
        margin-top: 150px;
    }
    
    .CityBoxes, .HikeStepsBoxes{
        margin: 50px 0px 50px 0px;
    }

    .col.Citybox1, .col.Citybox2, .col.Citybox3{
        background-color: #deeaf6;
        border-radius: 20px;
        height: 500px;
        margin:10px;
    }

    .col.Citybox1 > a > img, .col.Citybox2 > a > img, .col.Citybox3 > a > img{
        margin: 20px 10px 20px 10px;
        border-radius:20px;
    }
    
    .col.Citybox1 > h5, .col.Citybox2 > h5, .col.Citybox3 > h5{
        text-align: center;
        margin-top:30px;
        margin-left:10px;
    }

    .Citybox2 > h3, .Citybox3 > h3{
        padding-bottom: 35px;
    }

    .col.Citybox1:hover, .col.Citybox2:hover, .col.Citybox3:hover{
        background-color: #f1f7ff;
        mix-blend-mode: luminosity;
    }

