/*------------General--------------------*/


h1, h2, h3, h4, h5, h6 {
    font-family: "League Spartan", "Open Sans", sans-serif;   
}

p, a {
    font-family: "Rubik", "Nunito", "Open Sans", sans-serif;
}




/*------------Home Page--------------------*/

    /*---Main Menu & Footer---*/
    #mainMenu{
        border-bottom: solid 1px rgb(228, 228, 228);
    }

    #Footer{
        border-top: solid 1px rgb(228, 228, 228);
        margin-top: 20px;
    }

    #mainMenu > nav > div, #Footer > nav > div{
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #89c592;
    }

    .container-fluid{
        margin-top: 50px;
        margin-bottom: 100px;
    }


    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0 !important;
    }

    .navbar-brand{
        display: flex;
        align-items: flex-end;
    }

    #mainMenu > nav > div > a > h1{
        padding-left: 10px;
        color: rgb(37, 37, 37);
        font-weight: 700;
    }

    #Footer > nav > div > a > h3{
        padding-left: 10px;
        color: rgb(37, 37, 37);
        font-weight: 700;
    }

    .nav-item{
        font-size: 20px;
    }

    .nav-link{
        color: #000 !important;
    }

    #mainMenu > nav > div > ul > li:nth-child(1) > a.active, #mainMenu > nav > div > ul > li:nth-child(1) > a, #mainMenu > nav > div > ul > li:nth-child(2) > a.active, #mainMenu > nav > div > ul > li:nth-child(2) > a, #mainMenu > nav > div > ul > li:nth-child(3) > a.active, #mainMenu > nav > div > ul > li:nth-child(3) > a{
        background-color: #fff;
        border-radius: 15px;
        margin: 5px;
    }

    #mainMenu > nav > div > ul > li:nth-child(1) > a:hover, #mainMenu > nav > div > ul > li:nth-child(2) > a:hover, #mainMenu > nav > div > ul > li:nth-child(3) > a:hover{
        background-color: #fff;
    }
    /*------------------*/